.env
__pycache__/
todo.db
navissurance.db
navissurance_documents.db
Get_Tokens
cuda_env/ 
config/
data/
logs/
models/
.vscode/
codebase_export.txt
*.jsonl
*.json
*.wav

llama_cpp_python-0.3.8+cu128.gemma3-cp312-cp312-win_amd64.whl
