.env
__pycache__/
todo.db
navissurance.db
navissurance_documents.db
Get_Tokens
cuda_env/ 
config/
data/
logs/
models/
.vscode/
config/mailbird_tokens.json
config/navi_token.pkl
data/compliance_documents.json
gui/temp_recording.wav
logs/app.log

data/compliance_documents.json
config/navi_token.pkl
logs/app.log
config/mailbird_tokens.json
codebase_export.txt
