.env
__pycache__/
todo.db
navissurance.db
navissurance_documents.db
Get_Tokens
cuda_env/ 
config/
data/
logs/
models/
.vscode/
codebase_export.txt
*.jsonl
*.json
*.wav

llama_cpp_python-0.3.8+cu128.gemma3-cp312-cp312-win_amd64.whl
chroma_index_test/
chroma_index/
indexing.log
search.log
test_folder/
naviSsurance_index.db
gui/interface_backup.py
gui/interface_duplicated_backup.py
gui/interface_backup_refactor.py
.gitignore
gui/interface_backup_final.py

test_table_widget.py
notes_export.docx
notes_export.pdf
notes_export.txt
